<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">


    <servlet>
        <servlet-name>SourceAPI</servlet-name>
        <servlet-class>crawler.api.article.SourceAPI</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SourceAPI</servlet-name>
        <url-pattern>/admin/_api/source</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AccountRegister</servlet-name>
        <servlet-class>crawler.api.auth.Register</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AccountRegister</servlet-name>
        <url-pattern>/_api/account/register</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SpecialArticle</servlet-name>
        <servlet-class>crawler.api.article.SpecialArticle</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SpecialArticle</servlet-name>
        <url-pattern>/admin/_api/special-article</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AccountLogin</servlet-name>
        <servlet-class>crawler.api.auth.Login</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AccountLogin</servlet-name>
        <url-pattern>/_api/account/login</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ArticleAPI</servlet-name>
        <servlet-class>crawler.api.article.ArticleAPI</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ArticleAPI</servlet-name>
        <url-pattern>/_api/article</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ArticleAdminAPI</servlet-name>
        <servlet-class>crawler.api.article.ArticleAdminAPI</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ArticleAdminAPI</servlet-name>
        <url-pattern>/admin/_api/article</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CategoryAPI</servlet-name>
        <servlet-class>crawler.api.article.CategoryAPI</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CategoryAPI</servlet-name>
        <url-pattern>/admin/_api/category</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddQueue</servlet-name>
        <servlet-class>crawler.controller.AddQueue</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddQueue</servlet-name>
        <url-pattern>/add-queue</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetQueue</servlet-name>
        <servlet-class>crawler.controller.GetQueue</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetQueue</servlet-name>
        <url-pattern>/get-queue</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>ObjectifyFilter</filter-name>
        <filter-class>com.googlecode.objectify.ObjectifyFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ObjectifyFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>MyObjectifyFilter</filter-name>
        <filter-class>crawler.filter.MyObjectifyFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>MyObjectifyFilter</filter-name>
        <url-pattern>*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>CorsFilter</filter-name>
        <filter-class>crawler.filter.CorsFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CorsFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>AuthFilter</filter-name>
        <filter-class>crawler.filter.AuthenticationFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <url-pattern>/admin/*</url-pattern>
    </filter-mapping>

</web-app>